section {
    width: 100%;
    clear: right;
}

figure {
    float: right;
    width: 300px;
}

figcaption { 
    padding-top: 1em;
    text-align: center;
}

#work-docs > ul {
    padding: 0;
    list-style: none;
    display: flex;
}

