html,
body {
    --background-color: white;
    background-color: var(--background-color);
    margin: 0;
    font-family: "Commit Mono";
    box-sizing: border-box;
}

body {
    max-width: 60rem;
    margin: 0 auto;
    padding: 4rem 2rem;
}

main {
    margin: 2rem 0;
}

@font-face {
    font-family: "Commit Mono";
    src: url("/assets/fonts/CommitMono-450-Regular.otf");
    font-weight: 450;
    font-style: normal;
}

@font-face {
    font-family: "Commit Mono";
    src: url("/assets/fonts/CommitMono-700-Regular.otf");
    font-weight: 700;
    font-style: bold;
}

@font-face {
    font-family: "Commit Mono";
    src: url("/assets/fonts/CommitMono-450-Italic.otf");
    font-weight: 450;
    font-style: italic;
}

@font-face {
    font-family: "Commit Mono";
    src: url("/assets/fonts/CommitMono-700-Italic.otf");
    font-weight: 700;
    font-style: italic;
}

.document {
    --stripes-color: rgba(0, 0, 0, 0.2);

    display: flex;
    align-items: center;
    width: fit-content;
    padding: 1em 2em;
    border: 3.5px solid black;
    font-weight: bold;

    background-image: repeating-linear-gradient(
        -45deg,
        var(--stripes-color),
        var(--stripes-color) 3.5px,
        transparent 3.5px,
        transparent 10px
    );

    color: black;
    transition-duration: 0.4s;
    margin-right: 1em;
}

.document:hover {
    background-image: none;
    background-color: var(--stripes-color);
}

.document > img {
    height: 2em;
    width: auto;
    margin-right: 1em;
}

.shadowed {
    box-shadow: 0.5em 0.75em 0 0 rgba(0, 0, 0, 0.2);
}

.bordered {
  border: solid 1px black;
}

nav {
    display: flex;
    justify-content: center;
}

nav > ul {
    padding: 0;
}

p, li, td, th {
  font-size: 18px;
}

figcaption { 
    padding-top: 1em;
    text-align: center;
}

code.code-block {
    display: block;
    white-space: pre-wrap;
    border: 1px black solid;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.2);
}

p > code {
    background-color: rgba(0, 0, 0, 0.2);
}